In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
#Store the cities CSV into a data frame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Narsaq,GL,2022-09-28 17:55:21,60.9167,-46.0500,45.82,81,100,2.21
1,1,Jamestown,US,2022-09-28 17:50:39,42.0970,-79.2353,57.52,64,100,11.50
2,2,Arraial Do Cabo,BR,2022-09-28 17:55:21,-22.9661,-42.0278,71.56,88,100,14.97
3,3,Faya,SA,2022-09-28 17:55:22,18.3851,42.4509,72.12,32,10,5.23
4,4,Turukhansk,RU,2022-09-28 17:55:22,65.8167,87.9833,24.76,77,21,10.29

In [3]:
#Check data types.  Google maps api can only ude floating d's or integers for heatmaps
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use my api key
gmaps.configure(api_key=g_key)

In [5]:
#Create the heatmap:  This is exampe code.  The code we will use wit our data filled in is in the next cell.
#1. Assign the locations to an array of lat and long pairs:
#locations = [latitude, longitude]
#2. Assign the weights variable to some values:
#temperatures = # an array equal in length to the 'locations' variable above. If I have x lat and lngs i need x temps.
#3. Assign the figure variable to the "gmaps.figure()" atttribute.
#fig = gmaps.figure()
#4. Assign the "heatmap_layer" variable to the heatmap_layer attribute ad add in the locations.
#heatmtap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

#5. Add the heatmap layer
#fig.add_layer(heatmap_layer)
#6. Call the figure to plot the data.
#fig

In [6]:
# Heatmap of TEMPERATURE
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable and format center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. make all <0 temps 0 (google cant read negatives for heatmaps) & make the heat points larger
#using "dissipating", "max-intensity", and "point_radius"
heat_layer = gmaps.heatmap_layer(locations, 
            weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of HUMIDITY
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable and format center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. make all <0 temps 0 (google cant read negatives for heatmaps) & make the heat points larger
#using "dissipating", "max-intensity", and "point_radius"
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of CLOUDINESS
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable and format center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. make all <0 temps 0 (google cant read negatives for heatmaps) & make the heat points larger
#using "dissipating", "max-intensity", and "point_radius"
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable and format center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. make all <0 temps 0 (google cant read negatives for heatmaps) & make the heat points larger
#using "dissipating", "max-intensity", and "point_radius"
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#make an input for the customer to add what temps they are looking for
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [32]:
#Filter the dataset to find cities that meet the criteria from the customer inputs.
preferred_cities_na_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_na_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Kapaa,US,2022-09-28 17:55:24,22.0752,-159.3190,80.58,87,14,9.86
9,9,Tubuala,PA,2022-09-28 17:55:24,9.5167,-79.0333,83.46,73,98,5.70
10,10,Georgetown,MY,2022-09-28 17:55:25,5.4112,100.3354,80.89,91,20,0.00
11,11,Merauke,ID,2022-09-28 17:55:25,-8.4667,140.3333,78.15,89,100,10.98
13,13,Sao Filipe,CV,2022-09-28 17:55:27,14.8961,-24.4956,80.20,79,90,5.55
19,19,Butaritari,KI,2022-09-28 17:55:29,3.0707,172.7902,80.92,77,88,14.05
26,26,Cravo Norte,CO,2022-09-28 17:55:32,6.3017,-70.2041,84.72,63,99,4.56
28,28,Hithadhoo,MV,2022-09-28 17:55:32,-0.6000,73.0833,80.24,70,100,10.56
29,29,Kralendijk,BQ,2022-09-28 17:52:39,12.1500,-68.2667,80.58,83,40,9.22
32,32,Port Blair,IN,2022-09-28 17:55:33,11.6667,92.7500,80.64,89,40,2.30

In [33]:
#Check for null values
preferred_cities_df=preferred_cities_na_df.dropna()
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [38]:
#Create a new DF for the hotel data.  make it a .copy because it is coming from a filtered df (preferred cities)
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
8        Kapaa      US     80.58  22.0752 -159.3190
9      Tubuala      PA     83.46   9.5167  -79.0333
10  Georgetown      MY     80.89   5.4112  100.3354
11     Merauke      ID     78.15  -8.4667  140.3333
13  Sao Filipe      CV     80.20  14.8961  -24.4956

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel Not Found...Skipping.")

Hotel Not Found...Skipping.
Hotel Not Found...Skipping.
Hotel Not Found...Skipping.
Hotel Not Found...Skipping.
Hotel Not Found...Skipping.
Hotel Not Found...Skipping.
Hotel Not Found...Skipping.
Hotel Not Found...Skipping.
Hotel Not Found...Skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Tubuala,PA,83.46,9.5167,-79.0333,
10,Georgetown,MY,80.89,5.4112,100.3354,Cititel Penang
11,Merauke,ID,78.15,-8.4667,140.3333,
13,Sao Filipe,CV,80.20,14.8961,-24.4956,Hotel Xaguate
19,Butaritari,KI,80.92,3.0707,172.7902,Isles Sunset Lodge
26,Cravo Norte,CO,84.72,6.3017,-70.2041,Hotel Potosí Los Mirtos
28,Hithadhoo,MV,80.24,-0.6000,73.0833,Scoop Guest House
29,Kralendijk,BQ,80.58,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino
32,Port Blair,IN,80.64,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Heatmap of Temperature for vacation spots
# Get the latitude and longitude.
locations = hotel_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]
# Assign the figure variable and format center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. make all <0 temps 0 (google cant read negatives for heatmaps) & make the heat points larger
#using "dissipating", "max-intensity", and "point_radius"
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=5)

#get Markers for locations with info boxes
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the heatmap layer.
fig.add_layer(heat_layer)
#Add the markers to the map
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))